In [2]:
from modules_updated import *
import os
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:

data_path = 'dataset/okcupid_profiles.csv'
cols = [f'essay{i}' for i in range(10)]
models = ["DecisionTree", "SVM","Logistic","RandomForest"]
for col_name in cols:
    for model_name in models:
        if model_name == 'SVM' and col_name == 'essay0':
            continue
        X, y = load_data(data_path, col_name)
        
        Xp = preprocess_data(X)
        X_train, X_val, X_test, y_train, y_val, y_test = split_data(Xp, y)
        vectorizer = TfidfVectorizer()
        X_train = vectorizer.fit_transform(X_train)
        X_test = vectorizer.transform(X_test)
        
        model = fit_model(X_train, y_train, model_name)
        y_pred = model.predict(X_test)
        os.rename('output/output.txt', f'output/baseline_{col_name}_{model_name}.kml')

********** Data Summary **********

(59946, 31)

   age     status sex orientation       body_type               diet  \
0   22     single   m    straight  a little extra  strictly anything
1   35     single   m    straight         average       mostly other
2   38  available   m    straight            thin           anything

     drinks      drugs                       education     ethnicity  ...  \
0  socially      never   working on college/university  asian, white  ...
1     often  sometimes           working on space camp         white  ...
2  socially        NaN  graduated from masters program           NaN  ...

                                              essay0  \
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...
2  i'm not ashamed of much, but writing public te...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...

                                              essay2  \
0  making people laugh. ranting about a good salt...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...

                                              essay3  \
0  the way i look. i am a six foot half asian, ha...
1                                                NaN
2  my large jaw and large glasses are the physica...

                                              essay4  \
0  books: absurdistan, the republic, of mice and ...
1  i am die hard christopher moore fan. i don't r...
2  okay this is where the cultural matrix gets so...

                                              essay5  \
0                  food. water. cell phone. shelter.
1  delicious porkness in all of its glories. my b...
2  movement conversation creation contemplation t...

                        essay6  \
0  duality and humorous things
1                          NaN
2                          NaN

                                              essay7  \
0  trying to find someone to hang out with. i am ...
1                                                NaN
2  viewing. listening. dancing. talking. drinking...

                                              essay8  \
0  i am new to california and looking for someone...
1  i am very open and will share just about anyth...
2  when i was five years old, i was known as "the...

                                              essay9
0  you want to be swept off your feet! you are ti...
1                                                NaN
2  you are bright, open, intense, silly, ironic, ...

[3 rows x 31 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

********** Data Shape after Removing Duplicates **********

(59946, 31)


********** Count of Null Values for Each Column **********

sign         0
essay0    4094
dtype: int64


********** Data Shape after Removing Null Values **********

(44796, 2)


********** Class Label Distribution **********

sign
leo            4009
gemini         3968
libra          3870
cancer         3830
virgo          3804
taurus         3784
scorpio        3781
aries          3673
sagittarius    3629
pisces         3614
aquarius       3576
capricorn      3258
Name: count, dtype: int64


********** Pre-processing Data **********

********** Data Shape after Splitting **********


X_train:  (35836,)

X_val:  (4480,)

X_test:  (4480,)

********** Data View after Splitting **********


X_train:
 0    born switzerland , move bay area 7. 5 year sou...
1    move bay area littl less 4 year ago . live thi...
2                              intens , ambiti , funni
Name: essay0, dtype: object

X_val:
 0    've live bay area , rhode island , chicago . b...
1    posit person wick sens humor fun . vivaci , in...
2    parent name christina . love basebal loyal oak...
Name: essay0, dtype: object

X_test:
 0    parisian reloc us . love friend , spend time c...
1    art director/ocean lover known check `` white ...
2    life constant pull want save world , think not...
Name: essay0, dtype: object

In [8]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    aquarius       0.07      0.05      0.06       358
       aries       0.08      0.06      0.07       368
      cancer       0.06      0.08      0.07       383
   capricorn       0.11      0.02      0.04       325
      gemini       0.11      0.18      0.13       397
         leo       0.10      0.19      0.13       401
       libra       0.10      0.12      0.11       387
      pisces       0.07      0.03      0.04       362
 sagittarius       0.07      0.04      0.05       363
     scorpio       0.11      0.10      0.10       378
      taurus       0.08      0.08      0.08       378
       virgo       0.09      0.09      0.09       380

    accuracy                           0.09      4480
   macro avg       0.09      0.09      0.08      4480
weighted avg       0.09      0.09      0.08      4480

array(['leo', 'leo', 'libra', ..., 'leo', 'taurus', 'gemini'],
      dtype=object)